* {
    /* background-color: #002b05; */
    background-color: #357960;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

