.mainDiv {
    text-align: center;
}

.mainDiv a {
    color: #3d405b;
}

.mainDiv a:hover {
    /* color: #E07A5F; */
    color: #FAF9F0;
    background-color: #E07A5F;
    text-decoration: none;
}

.mainDiv h1 {
    /* color: #3d405b; */
    font: bolder
}

.mainDiv h5, h6 {
    color: #3d405b
}