.mainDiv {
    text-align: center;
}

.mainDiv a {
    color: #3d405b;
}

.mainDiv a:hover {
    color: #FAF9F0;
    background-color: #E07A5F;
    text-decoration: none;
}

.mainDiv h5, h6 {
    color: #3d405b;
    padding: 1%;
}

.mainDiv p {
    color: #E07A5F
}

.mainDiv-title {
    padding-bottom: 20px;
}

.mainDiv-subtext {
    padding-top: 20px;
    border-top: solid 1.5px #FAF9F0;
    border-bottom: solid 1.5px #FAF9F0;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}