#header-title{
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 2%;
    margin: 10px;
    background-color: white;
    opacity: 70%;
}

#title-page-subtitle{
    padding: 2%;
    text-align: center;
}
