#header-title{
    font-weight: bold;
    color: #3d405b;
    text-align: center;
    padding: 2%;
    margin: 10px;
    background-color: #FAF9F0;
    opacity: 70%;
}

#title-page-subtitle{
    padding: 2%;
    text-align: center;
}
